
.loading {
  display: flex;
  flex: 1 1 auto;
}

.header {
  background: #3a4b54; /* dark-blue */
}

.rightArrow {
  transform: rotate(180deg);
}

.getOnItunes {
  margin: 0;
  padding: 0;
}

.loadedHeader {
  background: rgba(0,0,0,0.25);
  color: #fff;
  /* background: transparent; */
  /* background: #333; */
}

.currentResult {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.actions {
  display: flex;
  flex: 0 0 100px;
  flex-direction: row;
}

.button {
  position: relative;
  background: #111;
  color: white;
  display: block;
  outline: none;
  border: none;
  appearance: none;
  margin: 0;
  flex: 1 1 auto;
  
	&:focus, &:hover, &:active {
    border: none;
    outline: none;
    background: #000;
	}
}

.resultWrapper {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  overflow: hidden;
}

.result {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  transform: translateX(0);
  animation-duration: 140ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

.backdrop {
  position: fixed;
  top: -150px;
  bottom: -50px;
  left: -50px;
  right: -50px;
  z-index: 0;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(15px);

  &:after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    background: rgba(0,0,0,0.25);
    z-index: 0;
  }
}

@keyframes toleft {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

@keyframes toright {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}

@keyframes fromleft {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

@keyframes fromright {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}

.toLeft {
  animation-name: toleft;
}

.toRight {
  animation-name: toright;
}

.fromLeft {
  animation-duration: 200ms;
  animation-name: fromleft;
}

.fromRight {
  animation-duration: 200ms;
  animation-name: fromright;
}

.noResults {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}
