
.moodOptions {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.option {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-items: stretch;
  border-bottom: solid 1px rgba(0,0,0,0.1);

  &:last-child {
    border-bottom: none;
  }
}

.input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1;
  padding: 0 1rem;
  
  /* &:hover {
    background: rgba(0,0,0,0.1);
  } */
}

.input:checked + .label {
  background: #e2d9a2; /* cream */

  /* &:hover {
    background: rgba(0,0,0,0.4);
  } */
}
