
.moodOptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

.option {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 0 0 50%;
  /* align-items: stretch; */
  border-bottom: solid 1px rgba(0,0,0,0.1);

  &:last-child {
    border-bottom: none;
  }

  &:nth-child(odd) {
    border-right: solid 1px rgba(0,0,0,0.1);
  }
}

.input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex: 1 1;
  padding: 0 1rem;
  
  /* &:hover {
    background: rgba(0,0,0,0.1);
  } */
}

.input:checked + .label {
  background: #e2d9a2; /* cream */

  /* &:hover {
    background: rgba(0,0,0,0.4);
  } */
}
