
.loading {
  display: flex;
  flex: 1 1 auto;
}

.header {
}

.getOnItunes {
  margin: 0;
  padding: 0;
}

.loadedHeader {
  background: rgba(0,0,0,0.25);
  /* background: transparent; */
  /* background: #333; */
}

.currentResult {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.actions {
  display: flex;
  flex: 0 0 100px;
  flex-direction: row;
}

.button {
  position: relative;
  background: #111;
  color: white;
  display: block;
  outline: none;
  border: none;
  appearance: none;
  margin: 0;
  flex: 1 1 auto;
  
	&:focus, &:hover, &:active {
    border: none;
    outline: none;
    background: #000;
	}
}

.resultWrapper {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.result {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.noResults {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}
