
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #f7f4ea;
  flex: 0 0 auto;
  z-index: 9;
}

.logoLink {
  display: block;
  flex: 0 0 auto;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}

.logo {
  width: 51px;
  height: 50px;
}

.menu {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  padding-right: 0.5rem;
  color: inherit;
}

.item {
  padding: 0.5rem 1rem;
  color: inherit;

  background: none;
  display: block;

  outline: none;
  border: none;
  appearance: none;
  margin: 0;
  
	&:focus, &:hover, &:active {
    border: none;
    outline: none;
	}
}

@media (min-width: 600px) {
  .logoLink {
    padding: 1.5rem 1.5rem 1.5rem 2.5rem;
  }

  .menu {
    padding-right: 1rem;
  }

  .item {
    padding: 1.5rem 1.5rem;
  }
}
