
.discoverMovie {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  background-color: #deb853; /* mustard */
  background-position: center 105px;
  background-repeat: no-repeat;
  background-size: 200%;
}

.header {
  background: #333;
  color: #e2d9a2; /* cream */
  background: #3a4b54; /* dark-blue */
  color: #f7f4ea;
}

.intro {
  padding: 0.5rem 1.5rem;

  @media (min-width: 321px) {
    padding: 1rem 1.5rem;
  }

  @media (min-width: 600px) {
    padding: 2rem 2.5rem;
  }
}

@keyframes buttonGlow {
  0% { color: #f7f4ea; /* cream */ }
  40% { color: #f7f4ea; /* cream */ }
  50% { color: #ffffff; /* bit lighter */ }
  70% { color: #f7f4ea; /* cream */ }
  100% { color: #f7f4ea; /* cream */ }
}

.actionButtons {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  background: #393939;
  background: #3a4b54; /* dark-blue */
  padding: 1rem;

  @media (min-width: 600px) {
    padding: 2rem;
  }
}

.button {
  flex: 1.25 1;
  display: block;
  outline: none;
  appearance: none;
  margin: 0;
  margin-right: 1rem;
  padding: 0.5rem;

  background: transparent;
  color: #f7f4ea;
  border: solid 3px #f7f4ea;
  border-radius: 0;

  @media (min-width: 321px) {
    padding: 0.75rem;
  }

  @media (min-width: 600px) {
    margin-right: 2rem;
  }

  &.active {
    animation-name: buttonGlow;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out-bounce;  
  }

	&:focus, &:hover, &:active {
    outline: none;
	}

  &:disabled {
    opacity: 0.4;
  }

  &:last-child {
    flex-grow: 1;
    margin-right: 0;
  }
}

.moods {
  flex: 1 0 auto;
}
