
:global(html) {
  display: flex;
  height: 100%;
}

body {
  display: flex;
  flex: 1 1 auto;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;
  background: #bf3b31;
  color: #333;
}

:global(#app) {
  display: flex;
  flex: 1 1 auto;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
