@keyframes spin { 
  from { 
    transform: rotate(0deg); 
  } to { 
    transform: rotate(360deg); 
  }
}

.loading {
  flex: 1 0 auto;
  position: relative;
  overflow: hidden;
}

.reel {
  position: absolute;
  top: 182px;
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.reel1 {
  left: 49px;
}

.reel2 {
  left: 123px;
}

.projector {
  position: absolute;
  margin-left: 50px;
}
