@keyframes spin { 
  from { 
    transform: rotate(0deg); 
  } to { 
    transform: rotate(360deg); 
  }
}

.loading {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  position: relative;
  overflow: hidden;
  align-items: flex-end;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  flex: 0 0 563px;
  width: 596px;
  position: absolute;
  left: 50px;
  top: 50%;
  margin-top: -300px;

  @media (min-width: 596px) {
    position: relative;
    margin-top: 20px;
  }
}

.reel {
  position: absolute;
  top: 182px;
}

.reel1 {
  left: -1px;
}

.reel2 {
  left: 73px;
}

.projector {
  position: absolute;
}

.loadingText {
  position: absolute;
  left: 165px;
  top: 267px;
}

.loading .reel {
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loadingError .reel {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: 3;
  animation-timing-function: ease-out-bounce;
}
