
.movie {
  position: relative;
  overflow: hidden;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.contents {
  flex: 1 1 auto;
  padding: 2rem;
  color: #fff;
  position: relative;
  background: rgba(0,0,0,0.3);
  z-index: 1;
}

.backdrop {
  position: fixed;
  top: -20px;
  bottom: -20px;
  left: -20px;
  right: -20px;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(15px);
}

.image {
  max-width: 100%;
}
