
.movie {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.scrollWrapper {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  position: relative;
  background: rgba(0,0,0,0.1);
  /* overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; */
}

.contents {
  flex: 1 0 auto;
  padding: 0.5rem 2rem 1rem;
  color: #fff;
  position: relative;
  z-index: 1;

  @media (min-width: 600px) {
    padding: 1.5rem 2.5rem;
  }
}

.meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  & > * {
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

.availableOn {
  & > * {
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

.socialButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  & > * {
    flex: 0 0 auto;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

.pageInfo {
}

.backdrop {
  position: fixed;
  top: -150px;
  bottom: -50px;
  left: -50px;
  right: -50px;
  z-index: 0;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(15px);

  &:after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    background: rgba(0,0,0,0.25);
    z-index: 0;
  }
}

.image {
  clear: both;
  max-width: 100%;
}
