
.movie {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.contents {
  flex: 1 1 auto;
  padding: 2rem;
  color: #fff;
  position: relative;
  background: rgba(0,0,0,0.3);
  z-index: 1;
}

.meta {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  & > * {
    margin-right: 1rem;
  }
  > :last-child {
    margin-right: 0;
  }
}

.backdrop {
  position: fixed;
  top: -20px;
  bottom: -20px;
  left: -20px;
  right: -20px;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(15px);
}

.image {
  clear: both;
  max-width: 100%;
}
