
.loading {
  display: flex;
  flex: 1 1 auto;
}

.currentMovie {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.button {
  position: relative;
  background: #333;
  color: white;
  display: block;
  flex: 0 0 100px;
  outline: none;
  border: none;
  
	&:focus, &:hover, &:active {
    border: none;
    outline: none;
    background: #222;
	}
}

.movie {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
