
.people {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -1rem;
  align-items: flex-start;
}

.person {
  flex: 1 0 112px;
  margin: 0 1rem 1rem;
  max-width: 160px;
  text-align: left;
  display: block;
  outline: none;
  appearance: none;
  padding: 0;
  border: none;
  background: transparent;
  color: inherit;
  border-radius: 0;

  &:focus, &:hover, &:active {
    outline: none;
  }
}

.image {
  height: 160px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255,255,255,0.2);
  margin-bottom: 0.5rem;
  border: solid 3px white;
}

.info {
  white-space: wrap;
}
