
.discoverMovie {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  background: #deb853; /* mustard */
}

.header {
  background: #333;
  color: #e2d9a2; /* cream */
}

.intro {
  padding: 0.5rem 1.5rem;

  @media (min-width: 321px) {
    padding: 1rem 1.5rem;
  }

  @media (min-width: 600px) {
    padding: 2rem 2.5rem;
  }
}

@keyframes buttonGlow {
  0% { color: #e2d9a2; /* cream */ }
  40% { color: #e2d9a2; /* cream */ }
  50% { color: #eae5c4; /* bit lighter */ }
  70% { color: #e2d9a2; /* cream */ }
  100% { color: #e2d9a2; /* cream */ }
}

.actionButtons {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  background: #393939;
  padding: 1rem;

  @media (min-width: 600px) {
    padding: 2rem;
  }
}

.button {
  flex: 1 1 50%;
  background: #181818;
  color: #e2d9a2; /* cream */
  display: block;
  outline: none;
  border: none;
  appearance: none;
  margin: 0;
  border-radius: 5px;
  margin-right: 1rem;
  padding: 0.5rem;

  @media (min-width: 321px) {
    padding: 0.75rem;
  }

  @media (min-width: 600px) {
    margin-right: 2rem;
  }

  &.active {
    animation-name: buttonGlow;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out-bounce;  
  }

	&:focus, &:hover, &:active {
    border: none;
    outline: none;
	}

  &:disabled {
    opacity: 0.8;
    color: #666;
  }

  &:last-child {
    margin-right: 0;
  }
}

.moods {
  flex: 1 0 auto;
}
