

.discoverMovie {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.button {
  background: #333;
  color: white;
  display: block;
  flex: 0 0 100px;
  outline: none;
  border: none;
  appearance: none;
  margin: 0;
  
	&:focus, &:hover, &:active {
    border: none;
    outline: none;
    background: #222;
	}
}

.moods {
  flex: 1 1 auto;
}
