
:global(*) {
  box-sizing: border-box;
}

.discoverMovie {
  position: relative;
  max-width: 600px;
  margin: auto;
}

.moodToggle {
  display: block;
  margin-bottom: 1rem;
}

.movie {
  position: relative;
  overflow: hidden;
}

.movieContents {
  padding: 2rem;
  color: #fff;
  position: relative;
  background: rgba(0,0,0,0.2);
  z-index: 1;
}

.movieBackdrop {
  position: absolute;
  top: -20px;
  bottom: -20px;
  left: -20px;
  right: -20px;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
}

.movieImage {
  max-width: 100%;
}
